
#tZettel {
    overflow-x: scroll;
    overflow-y: scroll;   
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#tZettel td {
    border-style: solid;  
    
}

#tWurf td {
    border-style: solid;
    width: 14%;    
}
