#Testen{
    /*display:none;*/
}

p {
    background: grey;
}
#Infos p {
    display: inline;
}
#tWurf td {
        border-style: solid;
        background: #00FFFF;
}

#Naechsterbutton {
    background: red;  
}
#Anz1 {
    border: solid;
}
#Anz2 {
    background: #CDCDCD;
}
#Servieren {
    border: solid;
}
#tWurf {
    width: 100%;
}
#tWurf td{
    width: 14%;
}
#tZettel {
   width: 100%;   
}
#tZettel td {
    width: 14%;
}
#Testen {
    float: right;
}
#tZettel td {
    border-style: solid;
   
}
#Nachricht {
    border-style: solid;
    background: yellow;
}
@media only screen and (min-width: 768px) {
    #container {
    /*width: 70%;
    margin: auto;*/
    }
}
