p{
    background:grey;
}
#Infos p {
    display: inline;
    /*margin: 30px;*/
}
#Anz2 {
    display: inline;
    max-width: 16%;
    border: solid;
    background: #CDCDCD;
}
#tWurf {
    width: 100%;
    display: inline;   
}
#tWurf td {
        border-style: solid;
        width: 20%;
        background: #00FFFF;
        /*height: 100px;*/
        /* font-size:70px;*/
}
#Naechsterbutton {
    width: 14%;
    background: red;
    float: right;
}
#Anz1 {
   border: solid;
}
#Servieren {
    border: solid;
}
Servieren
#tZettel {
    width: 100%;

}
#Testen {
    float: right;
}
#tZettel td {
    border-style: solid;
    width: 14%;
}
#Nachricht {
    border-style: solid;
    background: yellow;
}
#Ergebnis {
    border: solid;
    background: red;
    float: right;
}
@media only screen and (min-width: 768px) {
    #container {
    width: 70%;
    margin: auto;
    }
}
