#ic1 {
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
}
#ic2 {
    display: none;
    position: absolute;
    right: 0px;
    top: 0;
}
#myLinks {
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 2;
}
a {
    z-index: 2;
    background-color: blue;
    display: block;
    text-decoration: none;
    color: white;
}
#Infos p {
    display: inline;
    margin: 30px;
}

#Naechsterbutton{
    visibility:hidden;
}
#tWurf {
    width: 80%; 
    display: inline;
}
#tWurf td {
    border-style: solid;
    width: 16%;
    /*height: 100px;*/
   /* font-size:70px;*/
}
#tZettel {
    width: 100%;
}
#tZettel td {
    border-style: solid;
    width: 14%;
}
#Nachricht {
    border-style: solid;
}
/*@media only screen and (min-width: 768px) {
    #container {
        width: 70%;
        margin: auto;
    }

    #tWurf {
        width: 40%;
    }
  
}*/
